h1{
    font-family:Helvetica;
    font-size: 60px;
    text-align:center;
}
h3{
    font-family:Helvetica;
    font-size:40px;
}
img{
    width:auto;
    height:auto;
    margin:30px;
    margin-bottom:50px;
}
p{
    text-align: center;
}
p.home{
    bottom:0;
    position:absolute;
    width:100%;
    text-align:center;
    display:block;
    font-size: 6px;
}
.image{
    margin:0 auto;
    width:80%;
}
#txt{
    font-family:sans-serif;
    font-size:100px;
    font-weight:bold;
    color:red;
    position:fixed;
    bottom:0;
    right:0;
    padding:20px;
    display:inline-block;
    background: rgba(255, 255, 255, .7);
    margin:10px;
}
