html,body{
    margin:0;
    width:100vw;
    height:100vh;
}
h1{
    font-family:Helvetica Neue;
    font-size: 60px;
    text-align:left;
    margin-left: 40px;
    color: whitesmoke;
}
h3{
    font-family:Helvetica Neue;
    font-size: 20px;
    text-align:left;
    margin-left: 40px;
}
img{
    width:380px;
    height:auto;
    margin:20px;
}
img.full{
    width:85%;
    height:auto;
}
div{
    display:inline-block;
}

div.text{
    width:400px;
    height: 200px;
    margin:40px;
    margin-bottom: 20px;
    text-align: center;
}

div.images_border{
    display:inline-block;
    width:65vw;
    overflow:scroll;
    float:right;
    margin-top:40px;
    height:85%;
}
div.images{
    overflow:hidden;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
}
div.iframe{
    width:400px;
    height:430px;
    margin:40px;
    margin-top:0px;
}
p{
    text-align: left;
    font-family:Helvetica Neue; 
    margin-left: 40px;
}
p.home{
    bottom:25px;
    position:absolute;
    width:100%;
    display:block;
    font-size: 14px;
}
li{
    margin-left: 20px;
    font-family: Helvetica Neue;
}